[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/user/WorkSpace/dbus/dbus-1.10.6/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
